$redError: #D02F44;
$redErrorLight: #E3828F;
$blueD: linear-gradient(130.67deg, #1E74EC 6.5%, #002984 100%);
$blueLight: #1E74EC;
$blueDark: #012C88;
$blue100: #03115F;
$blue80: #35417F;
$blue20: #CDCFDF;
$blue10: #E6E8EF;
$pink100: #79077B;
$pink80: #A960AB;
$gray100: #535670;
$gray80: #75788D;
$gray60: #989AA9;
$gray20: #DDDDE2;
$gray10: #EEEFF1;